nav a:hover {
  color: var(--color-accent-trendypink);
  transition:  .5s ease;
}

header nav li {
  display: block;
  width: 50%;
  float:left;
}

header {
  text-align: center;
  position: relative;
}

header nav li:last-child {
  width: 100%;
}

a {
  color: var(--color-accent-hippyblue);
  text-decoration: underline;

}

.logo {
  border: none;
}

.cart {
  border: none;
  color: var(--color-accent-hippyblue);
  position: absolute;
  right: 20px;
  top: 5px;

}

.nav {
  padding-right: 50px;

}




@media only screen and (min-width: 60em) {

  .logo {
    float: left;
  }


  nav {
    float: right;

  }

  header nav li, header nav li:last-child {
    float: none;
    display: inline-block;
    width: auto;
  }

}
