.photo {
  border: 4px solid var(--color-accent-blackrose);
  border-radius: 8px;
}

.icon-card .icon {
  color: var(--color-accent-blackrose);
  border-color: var(--color-accent-blackrose);
  border: 4px solid var(--color-accent-blackrose);
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: var(--color-accent-blackrose);
}

a.circle:hover {
  color:var(--color-accent-hippyblue);

}

a.circle {
  color: var(--color-accent-blackrose);
  text-decoration: none;


}

.caption {
  text-decoration: none;
  color: var(--color-accent-blackrose);

}

.caption:hover {
  color:var(--color-accent-hippyblue);


}

.change {
  color:var(--color-accent-hippyblue);


}
