img {
  border: 4px solid var(--color-accent-blackrose);
  border-radius: 8px;
}

.icon-card .icon {
  color: var(--color-accent-blackrose);
  border-color: var(--color-accent-blackrose);
  border: 4px solid var(--color-accent-blackrose);
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: var(--color-accent-blackrose);
}

a:hover {
  color: var(--color-accent-hippyblue);

}
