.banner {
  max-height: 500px;
  overflow: hidden;
}

.products {
  color: #000;
}

.crystals {
  background-color: var(--color-accent-blackrose);
  color: #fff;
}

.products {
  background-color: var(--color-accent-trendypink);
  color: #fff;
}

.logo {
  width: 300px;

}

.banner-main {
  max-height: 500px;
  overflow: hidden;
}

.big-logo {
  border: none;
  color: #fff;
}

.sunset {
  border: none;
  border-radius: none;
}
