:root {
  --color-accent-blackrose: #54284c;
  --color-accent-hippyblue: #5199a8;
  --color-accent-trendypink: #8c6184;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Seaweed Script", serif;
}

html {
  font-family: var(--font-primary);
}
