:root {
  --color-accent-blackrose:#54284C ;
  --color-accent-hippyblue:#5199A8 ;
  --color-accent-trendypink:#8C6184;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Seaweed Script", serif;
}

html {
  font-family: var(--font-primary);
}
